{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<ul>
    <a href="/">return vers la liste</a>
</ul>
<h6>le prix total</h6>
{%for item in data['prixtotal'] %}
<ul>
    <li>{{item[1]}} euro</li>
</ul>
<h6>le congre choisi</h6>
{%endfor%}
{%for item in data['prixtotal'] %}
<ul>
    <li>{{item[0]}} </li>
</ul>
{%endfor%}
<h6>les activite choisies</h6>
{%for item in data['activity'] %}
<ul>
    <li>{{item[0]}}</li>
</ul>

{%endfor%}
<h6>les thematique choisies</h6>
{%for item in data['thematique'] %}
<ul>

    <li>{{item[0]}}</li>
</ul>
{%endfor%}

<form action="/addlists" method="post">
    <button type="submit">Confirmer</button>
</form>

{% endblock %}